.cardContainer {
    // border: 1px solid red;
    position: relative;
    margin: 5%;
    width: 220px;
    height: 40px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    z-index: 0;
}

.cardDataContainer {
    position: relative;
    display: grid;
    grid: 100%/15% 1fr 15%;
    z-index: 1;
    height: 100%;
    align-items: center;    
    justify-content: center;
    pointer-events: none;
}

.cardText{
    position: relative;
    z-index: 2;
    font-size: .9em;
    // bottom: 20%;
    text-shadow: 2px 2px 2px black;
    justify-self: center;
    pointer-events: none;
}

.cardImage {
    position: relative;
    z-index: -1;
    transform: scale(1.5)translate(10px, -70px);
    transform-origin: 100px 100px;
    pointer-events: none;
}

.cardDataCost {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    left: .2em;
    width: 110%;
    border-radius: 50%;
    background-image: radial-gradient(blue,lightblue);
    // background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    box-shadow: 2px 2px 2px black;
    pointer-events: none;
}

.cardDataCost:after {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    left: .2em;
    width: 110%;
    border-radius: 50%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    // background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    box-shadow: 2px 2px 2px black;
    pointer-events: none;
    
}

.costImageContainer{
    display: grid;
    grid: 100%/100%;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    pointer-events: none;
    
}

.costImage {
    position: relative;
    width: 100%;
    left: 10%;
    z-index: 1;
    grid-column-start: 1;
    grid-row-start: 1;
    pointer-events: none;
}

.costText {
    position: relative;
    z-index: 3;
    left: 10%;
    font-size: 1em;
    text-shadow: 2px 2px 2px black;
    grid-column-start: 1;
    grid-row-start: 1;
    overflow: hidden;
    pointer-events: none;
}

.cardCountContainer {
    position: relative;
    text-align: center;
    border: 1px solid goldenrod;
    font-size: .65em;
    height: 50%;
    width: 70%;
    right: 15%;
    background-color: rgba(58, 51, 18, 0.897);   
    box-shadow: 1px 1px 1px black;
    pointer-events: none;
}