// TO-DO
/*

1. Drop shadows for different spell types.
2. State changes for icons:
    Opacity+ when selected
    Small upscale on mouse over-- possibly breathing? 
3. LONG-TERM PROJECT: 
    Each card-- ugh-- needs its own rules for 
        transform: scale({requires multiple})translate(xpx, ypx);
        transform-origin: px px;
    Cards will have to come from full art. 
*/
$primary-text-color: #ffffff;

// entire page
.main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-repeat: repeat;
    background-image: url("/images/background-dark-grey-noise.jpg");
    color: $primary-text-color;
    z-index: -1;
    
}


.heading {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}



// main container for app
.columnGrid {
    display: grid;
    grid: 100%/ 15% 1fr;
    grid-auto-flow: row;

}

// center column, 1 
.cardColumns1 {
    display: grid; 
    grid-template-columns: 1fr;
    justify-content:space-around;
}

// center column, 1 
.cardColumns2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    // justify-content:space-around;

}


// columns for specific columns 
.dangerCardColumn {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    grid-auto-rows: 50px;
    grid-column-gap: 2%;

}

.deckCardColumn {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    grid-column-gap: 2%;
}

